@media only screen and(max-width:2560px){
    .home-container{
        .nft-container{
            .container-track{
                width: 100%;
                height: 180%;
                right: 0;
                top: -355px;
                div{
                    position: absolute;
                    right: -668px;
                }
            }
        }
        .welcome-container{
            .tree{
                left: -50px;
            }
        }
    }
}
@media only screen and(max-width:1544px){
    .home-container{
        .nft-container{
            .container-track{
                width: 108%;
                height: 180%;
                right: 0;
                top: -355px;
                div{
                    position: absolute;
                    right: -668px;
                }
            }
        }
    }
}

@media only screen and(max-width:1544px){
    .home-container{
        .nft-container{
            .container-track{
                width: 108%;
                height: 180%;
                right: 0;
                top: -355px;
                div{
                    position: absolute;
                    right: -668px;
                }
            }
        }
    }
}
@media only screen and(max-width:1400px){
    .home-container{
        .welcome-container{
            .title-container{
                h1{
                    .title{
                        font-size: 5rem;
                    }
                }
            }
            .tree{
                left: -3%;
            }
        }
        .nft-container{
            .columns-container{
                .column-color{
                    min-width: 200px;
                    h2{
                        font-size: 14rem;
                    }
                }
            }
            .container-track{
                width: 110%;
                height: 180%;
                right: 0;
                top: -355px;
                div{                          
                    width: 120% !important;
                    height: 94% !important;
                    position: absolute;
                    right: -668px;
                }
            }
        }
    }
}
@media only screen and (max-width: 1100px){
    .home-container{
        .welcome-container{
            min-height: 641px;
            .title-container{
                h1{
                    .title{
                        font-size: 5rem;
                    }
                }
            }
        }
        .nft-container{
            min-height: 641px;
            .columns-container{
                .column-color{
                    min-width: 160px;
                    h2{
                        font-size: 13rem;
                    }
                }
            }
            .container-track{
                width: 115%;
                height: 138%;
                right: 0;
                top: -37px;
                div{
                    position: absolute;
                    right: -597px;
                    top: -130px;
                }
            }
        }
    }
}
@media only screen and(max-width:900px){
    .home-container{
        grid-template-columns: 1fr;
        grid-template-rows: .2fr 1fr;
        .welcome-container{
            width: 100%;
            height: auto;
            min-height: 435px;
            .title-container{
                padding-top: 90px;
                h1{
                    .title{
                        font-size: 4rem;
                        text-align: center;
                    }
                    .second-title-container{
                        width: 80%;
                        display: flex;
                        justify-content: center;
                        .second-title{
                            svg{
                                .digipeks-army{
                                    transform: translateX(10%);
                                    .army{
                                        transform: matrix(1, 0, 0, 1, -285, -28);
                                    }
                                }
                            }
                        }
                        .first-ballon-container{
                            left: 7%;
                            top: 32%;
                        }
                        .second-ballon-container{
                            right: 25%;
                            bottom: -25%;
                        }
                    }
                }
            }
            .tree{
                width: 64%;
                top: -101px;
                opacity: .8;
            }
            .coins{
                display: none;
            }

        }
        .nft-container{
            height: 360px;
            .columns-container{
                .column-color{
                    min-width: unset;
                    h2{
                        font-size: 14rem;
                    }
                    .pic-container{
                        padding: 5px;
                        .mini-pics{
                            $minipicsDimesion: 75px;
                            width: $minipicsDimesion;
                            min-width: $minipicsDimesion;
                            height: $minipicsDimesion;
                            margin: 0 10px;  
                        }
                    }
                }
                .red-column-container{
                    .pic-container{
                        margin-top: 10px;
                    }
                }
            }
            .container-track{
                width: 163%;
                height: 1090px;
                right: -1px;
                top: 435px;
                div{
                    position: absolute;
                    right: -590px;
                    top: -230px;
                }
            }
        }
    }
}
@media only screen and(max-width:500px){
    .home-container{
        .welcome-container{
            min-height: 344px;
            .title-container{
                h1{
                    .title{
                        font-size: 3.5rem;
                    }
                    .second-title-container{
                        width: 90%;
                    }
                }
            }
        }
        .nft-container{
            .columns-container{
                .column-color{
                    h2{
                        font-size: 11.8rem;
                    }
                }
            }
            .container-track {
                width: 183%;
                height: 1080px;
                right: 0;
                top: 344px;
                div{
                    right: -67%;
                }
            }
        }
    }
}
@media only screen and(max-width: 450px){
    .home-container{
        .nft-container{
            .container-track{
                width: 250%;
                div{
                    right: -69%;
                }
            }
            min-height: 536px;
        }
    }
}
@media only screen and(max-width:392px){
    .home-container{
        .welcome-container{
            min-height: 333px;
        }
        .nft-container{
            .columns-container{
                .column-color{
                    h2{
                        font-size: 10rem;
                    }
                }
            }
            .container-track{
                width: 250%;
                top: 330px;
                div{
                    right: -75%;
                }
            }
            min-height: 472px;
        }
    }
}
@media only screen and(max-width:320px){
    .home-container{
        header{
            .social-media-container{
                a{
                    svg{
                        width: 30px;
                        height: 30px;
                    }
                }
            }
        }
        .welcome-container{
            .title-container{
                h1{
                    .title{
                        font-size: 2.8rem;
                    }
                    .second-title-container{
                        width: 100%;
                    }
                }
            }
        }
        .nft-container{
            .columns-container{
                .column-color{
                    h2{
                        font-size:8rem;
                    }
                }
            }
            .container-track{
                width: 268%;
                top: 330px;
                div{
                    right: -82%;
                }
            }
        }
    }
}