.faq-container{
    width: 100%;
    min-height: 700px;
    background-image: url('../../../../assets/images/pattern-faq-background.svg');
    background-image:url('../../../../assets/images/pattern-faq-background.svg'), radial-gradient(#275457, #16393B);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden;
    position: relative;
    .title-container{
        width: fit-content;
        height: auto;
        box-sizing: border-box;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 55px;
        z-index: 20;
        h2{
            font-family: "salden-black", sans-serif;
            color: #fff;
            font-size: 6rem;
            position: absolute;
            z-index: 1;
        }
        img{ 
            max-width: 740px;
            height: auto;
        }
    }
    .parchments-container{
        width: 853px;
        height: 100%;
        margin-top: 50px;
        z-index: 10;
    }
    .chinese-column-container{
        position: absolute;
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        .bases-container{
            display: flex;
            flex-direction: column;
            align-items: center;
            .larger-base{
                width: 170px;
                height: 70px;
                background-image: linear-gradient(#F7E227, #F7B927);
            }
            .smaller-base{
                width: 135px;
                height: 25px;
                background-image: linear-gradient(#F7E227, #F7B927);
            }
        }
        .bottom{
            rotate: 180deg;
        }
        .column{
            width: 120px;
            height: 100%;
            background-image: linear-gradient(90deg, #C21B15, #A52522 ,#C21B15);
            overflow: hidden;
        }
    }
    .column-left{
        left: 75px;
    }
    .column-right{
        right: 75px;
    }
    .bamboo{
        position: absolute;
    }
   .bamboo-no-leaf{
        height: 1090px;
        width: auto;
        top: -27px;
    }
    .bamboo-left{
        left: 400px;
    }
    .bamboo-right{
        right: 215px;
    }
    .bamboo-dark{
        left: 174px;
    }
    .balloon{
        position: absolute;
        transform-origin: 50% 0;
        animation: BalloonAnimation 6s cubic-bezier( 0.37, 0.29, 0.14, 0.94 ) infinite;
    }
    .balloon-right{
        right: 307px;
       
    }
    .balloon-left{
        left: 280px;
        z-index: 10;
    }
    .parchments-container{
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: center;
        .bamboo{
            position: absolute;
            transform: rotateX(180deg);
        }
        .left{
            left: 0;
        }
        .right{
            right: 0;
        }
        .parchment-scroll{
            width: 80%;
            min-height: 682px;
            position: relative;
            display: flex;
            flex-direction: column;
            align-items: center;
            overflow-y: scroll;
            overflow-x: hidden;
            &::-webkit-scrollbar {
                width: 2px;
            }
            &::-webkit-scrollbar-track {
                background: transparent;
            }
            
            &::-webkit-scrollbar-thumb {
                background-color: #F7B927;
                border-radius: 20px;
                border: 3px solid #F7B927;
            }
            .parchment{
                width: 100%;
                display: flex;
                align-items: center;
                margin-top: 50px;
                margin-right: 4px;
                .rolled{
                    width: 100%;
                    height: 55px;
                    background-image: linear-gradient(#C21B15,#A52522, #C21B15);
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    box-sizing: border-box;
                    padding: 0 10px;
                    position: relative;
                    p{
                        color: #F7E227;
                        font-family: "hero-new-regular", sans-serif;
                    }
                    
                    .parchment-content-container{
                        position: absolute;
                        width: 90%;
                        height: 0px;
                        background-color: #C21B15;
                        top: 54px;
                        left: 50%;
                        transform: translateX(-50%);
                        /* background-image: url('../../../../assets/images/parchment-frame.svg');
                        background-repeat: no-repeat;
                        background-size: 98%;
                        background-position: 35% 89%; */
                        display: flex;
                        justify-content: center;
                        box-sizing: border-box;
                        overflow: hidden;
                        transition: 1s cubic-bezier( 0.58, 0.4, 0.15, 0.84 );
                        .text-container{
                            width: 100%;
                            background-color: #ECDFC3;
                            box-sizing: border-box;
                            overflow: hidden;
                            p{  
                                opacity: 0;
                                display: block;
                                text-align: justify;
                                font-family: "hero-new-regular", sans-serif;
                                color: #173B3D;
                                line-height: 25px;
                                transition: 1s ease-out 1s;
                            }
                        }
                    }
                    .chevron-icon{
                        transition: 1s cubic-bezier( 0.58, 0.4, 0.15, 0.84 );
                    }
                }
                @mixin collapse(){
                    .checkbox_pergunta{
                        width: 36px;
                        height: 100%;
                        position: absolute;
                        right: 6px;
                        opacity: 0;
                        cursor: pointer;
                        z-index: 100;
                        &:checked~div{
                            height: 445px;
                            padding: 32px 45px 46px;
                            .text-container{
                                height: auto;
                                padding: 20px 17px 20px;

                               p{
                                    transition: 1s ease-out 0s;
                                    opacity: 1;
                               } 
                            }
                        }
                        &:checked~.chevron-icon{
                            rotate: 180deg;
                        }
                    }
                }
                
                .question1{
                    @include collapse();
                }
                .question2{
                    @include collapse();
                }
                .question3{
                    @include collapse();
                }
                .question4{
                    @include collapse();
                }
                .metal-part-container{
                    display: flex;
                    align-items: center;
                    .big-part{
                        background-color: #F7B927;
                        background-image: linear-gradient(#F7E227, #F7B927, #F7E227);
                        width: 35px;
                        height: 90px;
                    }
                    .small-part{
                        width: 12px;
                        height: 43px;
                        background-image: linear-gradient(#F7E227, #F7B927, #F7E227);;
                    }
                }
                
                .metal-part-container:last-child{
                    rotate: 180deg;
                }
            }
        }
        .parchment1{
            z-index: 500;
        }
        .parchment2{
            z-index: 400;
        }
        .parchment3{
            z-index: 300;
        }
        .parchment4{
            z-index: 200;
        }
        .parchment5{
            z-index: 100;
        }
    }
}
@keyframes BalloonFaqAnimation{
    0%{
        transform: rotate(10deg);
    }
    50%{
        transform: rotate(-10deg);
    }
    100%{
        transform: rotate(10deg);
    }
}
[data-parchment]{
    opacity: 0;
    transform: translateY(40px);
}
[data-parchment="parchment1"]{
    transition: 1s cubic-bezier( 0.58, 0.4, 0.15, 0.84 ) 1.8s;
}
[data-parchment="parchment2"]{
    transition: 1s cubic-bezier( 0.58, 0.4, 0.15, 0.84 ) 2.3s;
}
[data-parchment="parchment3"]{
    transition: 1s cubic-bezier( 0.58, 0.4, 0.15, 0.84 ) 2.8s;
}
[data-parchment="parchment4"]{
    transition: 1s cubic-bezier( 0.58, 0.4, 0.15, 0.84 ) 3.3s;
}

[data-parchment].run-animation{
    opacity: 1;
    transform: translateY(0);
}
[data-faq-content]{
    opacity: 0;
    transform: translateY(30px);
}
[data-faq-content="title"]{
    transition: 1s cubic-bezier( 0.58, 0.4, 0.15, 0.84 );
}
[data-faq-content="bamboo-no-leaf-left"]{
    transition: 1s cubic-bezier( 0.58, 0.4, 0.15, 0.84 ) .8s;
}
[data-faq-content="bamboo-no-leaf-right"]{
    transition: 1s cubic-bezier( 0.58, 0.4, 0.15, 0.84 ) 1.2s;
}
[data-faq-content="bamboo-dark"]{
    transition: 1s cubic-bezier( 0.58, 0.4, 0.15, 0.84 ) 1.4s;
}
[data-faq-content="bamboo-left"]{
    transition: 1s cubic-bezier( 0.58, 0.4, 0.15, 0.84 ) 1.8s;
}
[data-faq-content="bamboo-right"]{
    transition: 1s cubic-bezier( 0.58, 0.4, 0.15, 0.84 ) 1.8s;
}
[data-faq-content].run-animation{
    opacity: 1;
    transform: translateY(0);
}