@font-face {
    font-family: "salden-black";
    src: url('../assets/fonts/Salden-black.otf');
    font-display: swap;
}
@font-face{
    font-family: "valorant";
    src: url('../assets/fonts/valorant.ttf');
    font-display: swap;
}