@mixin Indev {
    width: 100%;
    height: 100vh;
    background-color: rgb(93, 0, 255);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    p{
        font-family: sans-serif;
        font-weight: bold;
        color: #fff;
        font-size: 3rem;
        box-sizing: border-box;
        padding: 0 10px;
        width: 100%;
        text-align: center;
    }
    .container{
        width: 60%;
        height: auto;
        max-width: 600px;
        margin-top: 40px;
    }
}