.colletions-container{
    width: 100%;
    min-height: 1080px;
    height: auto;
    background-color: #E6302A;
    background-image: url('../../../../assets/images/pattern-red-background.svg');
    background-position: center;
    background-size: contain;
    display: grid;
    grid-template-columns: 1fr 1fr;
    overflow: hidden;
    position: relative;
    .text-side-container{
        display: flex;
        align-items: center;
        transform: translateY(20px);
        .title-subtitle-container{
            margin-left: 60px;
            position: relative;
            h2{
                font-family: "salden-black", sans-serif;
                color: #fff;
                font-size: 4.8rem;
                max-width: 679px;
                line-height: 95px;
            }
            p{
                font-family: "hero-new-regular", sans-serif;
                color: #F7E227;
                text-align: justify;
                max-width: 535px;
                font-size: 1.4rem;
                line-height: 35px;
                padding-right: 8%;
            }
            .hat{
                width: 150px;
                height: 150px;
                left: -91px;
                top: -24%;
                rotate: -30deg;
                position: absolute;
                background-image: linear-gradient(#F7E227, #FFB300);
                clip-path: polygon(50% 77%, 0% 100%, 100% 100%);
            }
        }
    }
    .colletions-side-container{
        display: flex;
        align-items: center;
        min-width: 539px;
        box-sizing: border-box;
        padding: 15px 0;
        overflow: hidden;
        .pics-container{
            width: 100%;
            display: grid;
            margin-right: 30px;
            $gridColumn: 88px;
            grid-template-columns: $gridColumn $gridColumn $gridColumn $gridColumn $gridColumn $gridColumn $gridColumn;
            grid-template-rows: $gridColumn $gridColumn $gridColumn $gridColumn $gridColumn $gridColumn $gridColumn $gridColumn $gridColumn $gridColumn $gridColumn;
            gap: 8px;
            justify-content: end;
            .pic-container{
                width: 100%;
                height: auto;
                background-color: #1E4648;
                border: 3px solid #F7E227;
                box-sizing: border-box;
                padding: 5px;
                img{
                    width: 100%;
                    height: 100%;
                }
            }
            .green-ball-dog{
                transform: translateY(-110%);
                grid-column-start: 1;
                grid-column-end: 3;

                grid-row-start: 1;
                grid-row-end: 3;
            }
            .green-horn-dog{
                transform: translateY(-680%);
                grid-column-start: 5;
                grid-column-end: 6;
                grid-row-start: 6;
                grid-row-end: 7;
            }
            .green-tail-dog{
                transform: translateY(-320%);
                grid-column-start: 5;
                grid-column-end: 8;
                grid-row-start: 7;
                grid-row-end: 10;
            }
            .green-king-dog{
                transform: translateY(-450%);
                grid-column-start: 6;
                grid-column-end: 7;
                grid-row-start: 4;
                grid-row-end: 5;
            }
            .green-dog{
                grid-column-start: 1;
                grid-column-end: 4;
                grid-row-start: 10;
                grid-row-end: 12;
                display: flex;
                align-items: center;
                justify-content: center;
                transform: translateY(-616%);
                img{
                    width: 65%;
                    height: auto;
                }
            }

            .red-horn-dog{
                transform: translateY(-240%);
                grid-column-start: 1;
                grid-column-end: 5;

                grid-row-start: 6;
                grid-row-end: 10;
            }
            .red-ball-dog{
                transform: translateY(-110%);
                grid-column-start: 3;
                grid-column-end: 5;

                grid-row-start: 1;
                grid-row-end: 3;
            }
            .red-tail-dog{
                transform: translateY(-110%);
                grid-column-start: 5;
                grid-column-end: 8;

                grid-row-start: 1;
                grid-row-end: 4;
            }
            .red-king-dog{
                transform: translateY(-320%);
                grid-column-start: 6;
                grid-column-end: 8;
                grid-row-start: 5;
                grid-row-end: 7;
            }
            .red-dog{
                transform: translateY(-616%);
                grid-column-start: 4;
                grid-column-end: 6;
                grid-row-start: 10;
                grid-row-end: 12;
            }
            .yellow-tail-dog{
                transform: translateY(-340%);
                grid-column-start: 4;
                grid-column-end: 5;
                grid-row-start: 3;
                grid-row-end: 4;
            }
            .yellow-horn-dog{
                transform: translateY(-180%);
                grid-column-start: 1;
                grid-column-end: 4;
                grid-row-start: 3;
                grid-row-end: 6;
            }
            
            .yellow-ball-dog{
                transform: translateY(-270%);
                grid-column-start: 4;
                grid-column-end: 6;
                grid-row-start: 4;
                grid-row-end: 6;
            }
            .yellow-king-dog{
                transform: translateY(-450%);
                grid-column-start: 7;
                grid-column-end: 8;
                grid-row-start: 4;
                grid-row-end: 5;
            }
            .yellow-dog{
                transform: translateY(-616%);
                grid-column-start: 6;
                grid-column-end: 8;
                grid-row-start: 10;
                grid-row-end: 12;
            }
        }
    }
    .frame{
        position: absolute;
        z-index: 100;
    }
    .top-left{
        left: 5px;
        top: 5px;
        rotate: 90deg;
    }
    .top-right{
        right: 10px;
        top: 5px;
        rotate: 180deg;
    }
    .bottom-right{
        right: 10px;
        bottom: 5px;
        rotate: -90deg;
    }
    .bottom-left{
        left: 5px;
        bottom: 5px;
    }
}
$gravity: 1.3s cubic-bezier( 0.07, -0.06, 0.86, 0.01);
$base-delay: .5s; 
[data-animate="first"]{
    opacity: 0;
    transition: $gravity $base-delay;
}
[data-animate="box1"]{
    transition: $gravity $base-delay*1;
}
[data-animate="box2"]{
    transition: $gravity $base-delay*2;
}
[data-animate="box3"]{
    transition: $gravity $base-delay*3;
}
[data-animate="box4"]{
    transition: $gravity $base-delay*4;
}
[data-animate="box5"]{
    transition: $gravity $base-delay*5;
}
[data-animate="box6"]{
    transition: $gravity $base-delay*6;
}
[data-animate="box7"]{
    transition: $gravity $base-delay*7;
}
[data-animate="box8"]{
    transition: $gravity $base-delay*8;
}
[data-animate="box9"]{
    transition: $gravity $base-delay*9;
}
[data-animate="box10"]{
    transition: $gravity $base-delay*10;
}
[data-animate="box11"]{
    transition: $gravity $base-delay*11;
}
[data-animate="box12"]{
    transition: $gravity $base-delay*12;
}
[data-animate="box13"]{
    transition: $gravity $base-delay*13;
}
[data-animate="box14"]{
    transition: $gravity $base-delay*14;
}
[data-animate="box15"]{
    transition: $gravity $base-delay*15;
}
[data-animate].animated{
    opacity: 1;
    transform: translateY(0) !important;
}
@import './responsive';